PORT=3000




URL=mongodb://127.0.0.1/sarahaApp  

#token signatures

# ADMIN_ACCESS_SIGNATURE="adminaccessSignature"
# ADMIN_REFRESH_SIGNATURE="adminrefreshSignature"


# USER_ACCESS_SIGNATURE="useraccessSignature"
# USER_REFRESH_SIGNATURE="userrefreshSignature"

CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""
# CLOUDINARY_CLOUD_NAME="SarahaApp"


ACCESS_TOKEN_SECRET=""
REFRESH_TOKEN_SECRET=""
EMAIL_USER=""
EMAIL_PASS=""
host= ""
port=
SALT=